// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.auth-background-holder {
    background: url('/images/splash-image.jpg') no-repeat center center fixed !important;
}

.app-btn-primary {
    background: #358eb4 !important;
    color: #fff !important;
    border-color: #358eb4 !important;
}

a {
    color: #358eb4 !important;
    text-decoration: none !important;
}

.form-check-input:checked {
    background-color: #15a362 !important;
    border-color: #15a362 !important;
}

#user-dropdown-toggle {
    font-size: .8rem !important;
}
